body {
  padding-top: 70px;
  padding-bottom: 50px;
}

#thumbs {
  line-height: 0;
  -webkit-column-width: 180px;
  -moz-column-width: 180px;
  column-width: 180px;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
#thumbs .item {
  /* Just in case there are inline attributes */
  display: inline;
  width: 100% !important;
  height: auto !important;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block; /* avoids column break within the div */
}

#thumbs .item img {
  width: 100% !important;
}
#thumbs li {
  line-height: 20px;
}


.tracklisting td.control {
  width: 50px;
}

.tracklisting td.track-title {
  vertical-align: middle;
}

.tracklisting a.control {
  display: none;
}
