

      {% for items in (1..30) %}
      <div class="item">
        <a class="thumbnail accordion-toggle" data-toggle="collapse" data-target="#item-{{items}}" data-parent="#thumbs">
          <img src="img/timemachine.jpg">
        </a>
        <div class="caption collapse" id="item-{{items}}">
          <h4>The Time Machine</h4>
          <ol class="list-unstyled">
            {% for trackno in (1..23) %}
            <li><a href="#">Track {{trackno}}</a></li>
            {% endfor %}
          </ol>
        </div>
      </div><!-- item -->
      {% endfor %}



      <div class="item">
        <div class="poster">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"  href="#item-{{post.poster | remove: '.jpg'}}">
            <img src="/images/posters/{{post.poster}}">
          </a>
        </div>
        <div id="item-{{post.poster | remove: '.jpg'}}" class="collapse">
          <div class="caption">
            <h4>{{ post.title }}</h4>
            {{ post.excerpt }}
          </div>
        </div>
      </div><!-- item -->
      {% endfor %}
