---
layout: simple
title: Klaus Badelt
date: Oct 10, 2013
portfolio: grid
custom_include:
- _index.html
---
<div id="portfolio" class="grid">

  {% for post in site.posts %}
  {% unless post.disabled %}
  <div class="thumb {{ post.tags }}">
    <div class="image" id="{{ post.poster | remove: '.jpg' }}">
      {% if post.tags contains 'promoted' %}
        {% assign width = '310' %}
        {% assign height = '444' %}
      {% else %}
        {% assign width = '150' %}
        {% assign height = '215' %}
      {% endif %}
      <img class="lazy"
           src="images/grey.gif"
           data-original="images/posters/{{ post.poster }}"
           width={{ width }}
           height={{ height}} />
      <h3>{{post.title}}</h3>
    </div>
    <div class="caption">
      <h2>{{ post.title }}</h2>
      {% if post.buy %}
        <div class="buybtn">
          <p class="btn"><a href="{{ post.buy }}" rel="_blank">Buy Album</a></p>
        </div>
      {% endif %}
      <ol>
        {% for track in post.tracks %}
        <li>
          <a href="{{ track.url }}" rel='images/posters/{{ post.poster }}' title="{{ post.title}}-{{ track.title }}" class="fap-single-track">{{ track.title | append: "" | escape }}</a>&nbsp;<a href="{{ track.url }}" rel='images/posters/{{ post.poster }}' title="{{ post.title}}-{{ track.title }}" class="fap-single-track control" data-enqueue='yes'>
            <span class='glyphicon glyphicon-plus'>+</span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endunless %}
  {% endfor %}

</div>
