---
layout: simple
title: Klaus Badelt
date: Oct 10, 2013
portfolio: grid
---
{% include navbar.html %}

<div id="portfolio" class="grid">
  
  {% for post in site.posts %}
  <div class="thumb {{ post.tags }}">
    <div class="image">
      {% if post.tags contains 'promoted' %}
        {% assign width = '310' %}
        {% assign height = '444' %}
      {% else %}
        {% assign width = '150' %}
        {% assign height = '215' %}
      {% endif %}
      <img class="lazy" 
           src="images/grey.gif"
           data-original="images/posters/{{ post.poster }}"
           width={{ width }}
           height={{ height}} />
      <h3>{{post.title}}</h3>
    </div>
    <div class="caption">
      <h2>{{ post.title }} <span>({{ post.date | date: "%Y"  }})</span></h2>
      {% if post.buy %}
        <div class="buybtn">
          <p class="btn"><a href="{{ post.buy }}" rel="_blank">Buy Album</a></p>
        </div>
      {% endif %}
      <ol>
        {% for track in post.tracks %}
        <li>
          <a href="{{ track.url }}" rel='images/posters/{{ post.poster }}' title="{{ post.title}}-{{ track.title }}" class="fap-single-track">{{ track.title | escape }}</a>&nbsp;<a href="{{ track.url }}" rel='images/posters/{{ post.poster }}' title="{{ post.title}}-{{ track.title }}" class="fap-single-track control" data-enqueue='yes'>
            <span class='glyphicon glyphicon-plus'>+</span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

</div>

<div id="player"></div>
  
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script src="https://connect.soundcloud.com/sdk.js" type="text/javascript"></script>
<script src="js/jquery.fullwidthAudioPlayer.min.js" type="text/javascript"></script>
<script src="js/jquery.isotope.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>

<script>
$(function(){
  var $win = $(window),
      $con = $('#portfolio'),
      $imgs = $("img.lazy");
      
  // start audio player
  $('#player').fullwidthAudioPlayer({base64: true, opened: false, sortable: true});

  // start isotope with lazyload images, see http://stackoverflow.com/questions/11337291/combining-jquery-isotope-and-lazy-load/13919010#13919010
  $con.isotope({
    itemSelector : '.thumb',
    masonry: {
      gutterWidth: 10,
      columnWidth: 160,
    },
    onLayout: function( $elems, instance ) {
        $win.trigger("scroll");
        $imgs.css('visibility', 'visible');
    }
  });

  $imgs.lazyload({
    failure_limit: Math.max($imgs.length - 1, 0)
  });
  
  // poster hover
  $('#portfolio .image').hover(function(){
    $(this).children('h3').fadeIn('fast');
    $('#portfolio .image').not(this).find('img').stop().fadeTo('fast',0.8);
    $(this).css('cursor','pointer');
    
  }, function(){
    $(this).children('h3').fadeOut('fast');
    $('#portfolio .image').not(this).find('img').stop().fadeTo('fast',1);
    $(this).css('cursor','default');
  });
  
  // open playlist on selected thumbnail
  $('#portfolio .thumb .image').click(function(){

    // save current state - did we click on an already selected thumbnail again?
    var $thisThumb = $(this).parents().eq(0);
    var $alreadySelected = $thisThumb.hasClass('selected');

    // hide caption & remove 'selected' class everywhere
    $('#portfolio .thumb.selected').removeClass('selected').children('.caption').hide();

    // toggle class 'selected' on clicked poster
    $thisThumb.toggleClass('selected', !$alreadySelected);

    // show tracklisting
    $thisThumb.children('.caption').toggle(!$alreadySelected);
    $('#portfolio').isotope('reLayout');
  });
  
  // add button on hover
  $('#portfolio li').hover(function(){    
    $(this).find('.control').toggle();
  })
});
</script>