---
layout: simple
title: Klaus Badelt
date: Oct 6, 2013
---
<h3>Klaus Badelt</h3>

<div id="portfolio">

{% for post in site.posts %}
  <h1><a href="#">{{ post.title | escape }}</a></h1>
  <section>
    <div class="col-left">
      <img src="images/posters/{{ post.poster }}">
      {% if post.buy %}
        <caption><a href="{{ post.buy }}" rel="_blank" class="btn">Buy Album</a></caption>
      {% endif %}
    </div>
    <div class="col-right">
      <ul data-playlist="playlist-tm">
        
        {% for track in post.tracks %}
        <li>
          <a href="{{ track.url }}" rel='/images/posters/{{ post.poster }}' title="{{ post.title}}-{{ track.title }}" class="fap-single-track">
            {{ track.title | escape }}
          </a>
          &nbsp;
          <a href="{{ track.url }}" rel='/images/posters/{{ post.poster }}' title="{{ post.title}}-{{ track.title }}" class="fap-single-track control" data-enqueue='yes' style="display: none;">
            <span class='glyphicon glyphicon-plus'></span>
          </a>
        </li>
        {% endfor %}

      </ul>
    </div>
  </section>
{% endfor %}

</div>

<div id="fap"></div>

<script src="js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/soundcloud_sdk.js" type="text/javascript"></script>
<!-- <script src="https://connect.soundcloud.com/sdk.js" type="text/javascript"></script> -->
<script src="js/jquery.fullwidthAudioPlayer.min.js" type="text/javascript"></script>

<script>
$(function(){
  $('#fap').fullwidthAudioPlayer({base64: true, opened: false, sortable: true});
  // $("#portfolio h1").hover(
  //   function() {
  //     $( this ).find('.control').toggle();
  //     console.log('toggle');
  //   }
  // );
  
  // show long playlists as multi-column
  $('.col-right ul').filter(function(){ return $(this).find("li").length > 15 }).addClass('columns');
  
  // accordion on the titles
  $('#portfolio').accordion({
    header: "h1",
    heightStyle: "content",
    collapsible: true,
    active: false,
    animate: true
  });
  
});
</script>
