---
layout: simple
title: Klaus Badelt
date: Oct 6, 2013
custom_include:
- _list.html
---
<main class="list" id="portfolio">

{% for post in site.posts %}
  <div class="header" id="{{ post.poster | remove: '.jpg' }}">
    <h1>
      <a href="#">{{ post.title | escape }}</a>
    </h1>
  </div>
  <section>
    <div class="col-left">
      <img class="lazy" 
           src=data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7
           data-original="images/posters/{{ post.poster }}">
      <caption>     
        <a href="#" data-playlist="playlist-{{ post.poster | remove: '.jpg' }}" data-enqueue="no" class="fap-add-playlist btn glyphicons glyphicons_173_play" title="{{ post.title}}"> > </a>
      {% if post.buy %}
        <a href="{{ post.buy }}" rel="_blank" class="btn">Buy Album</a>
      {% endif %}
      </caption>
    </div>
    <div class="col-right">
      <ul data-playlist="playlist-{{ post.poster | remove: '.jpg' }}">
        
        {% for track in post.tracks %}
        <li>
          <a href="{{ track.url }}" rel='images/posters/{{ post.poster }}' title="{{ post.title}}-{{ track.title }}" class="fap-single-track">
            {{ track.title | escape }}
          </a>
          &nbsp;
          <a href="{{ track.url }}" rel='images/posters/{{ post.poster }}' title="{{ post.title}}-{{ track.title }}" class="fap-single-track control" data-enqueue='yes' style="display: none;">
            <span class='glyphicon glyphicon-plus'></span>
          </a>
        </li>
        {% endfor %}

      </ul>
    </div>
  </section>
{% endfor %}

</main>
