<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap-flatly.min.css" rel="stylesheet" media="screen">
    <link href="css/jquery.fullwidthAudioPlayer.css" rel="stylesheet" type="text/css">
    <link href="css/jquery.fullwidthAudioPlayer-responsive.css" rel="stylesheet" type="text/css">
    <link href="css/app.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">

    {% include navbar_fixed.html %}
        
    {{ content }}  

    </div><!-- container -->
    
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/jquery-ui.js" type="text/javascript"></script>
    <script src="https://connect.soundcloud.com/sdk.js" type="text/javascript"></script>
    <script src="js/amplify.min.js" type="text/javascript"></script>
    <script src="js/jquery.fullwidthAudioPlayer.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>  
    <script src="js/holder.min.js"></script>
    
    <script>
    $(document).ready(function(){
      $('#fap').fullwidthAudioPlayer({base64: true, opened: false, sortable: true});
      // $('div.tracklisting a').addClass('fap-single-track');
      // $('.tracklisting a.btn').hide();
    });
    
    $('#fap').bind('onFapTrackSelect', function(evt, trackData) {
        //output the title of the current track
        console.log(trackData);
    });
    
    $(".tracklisting tr").hover(
      function() {
        $( this ).find('a.control').toggle();
      }
    );
    </script>

  </body>
</html>