<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap-flatly.min.css" rel="stylesheet" media="screen">
    <link href="css/jquery.fullwidthAudioPlayer.css" rel="stylesheet" type="text/css">
    <link href="css/jquery.fullwidthAudioPlayer-responsive.css" rel="stylesheet" type="text/css">
    <link href="css/app.css" rel="stylesheet" media="screen">
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>  
    <script src="js/holder.min.js"></script>
    
  </head>
  <body>

    {% include navbar_fixed.html %}
        
    {{ content }}  

    
  </body>
</html>